<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Russian</string>
	<key>CFBundleExecutable</key>
	<string>Russian Movie Agent</string>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.kinopoiskru</string>
	<key>PlexClientPlatforms</key>
	<string>*</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>PlexAgentAttributionText</key>
	<string>
    Агент для получения информации о медиа файлах с Русского сайта
    &lt;a href=&quot;http://www.kinopoisk.ru/&quot;&gt;КиноПоиск&lt;/a&gt;,
    использование информации которого защищается
    &lt;a href=&quot;http://www.kinopoisk.ru/level/76/doc/usage/&quot;&gt;пользовательским соглашением&lt;/a&gt;.
    Разработчик плагина
    &lt;a href=&quot;https://plus.google.com/+YevgenyNyden&quot;&gt;Евгений Найден (Yevgeny Nyden)&lt;/a&gt;.
    Сайт проекта &lt;b&gt;RussianPlex&lt;/b&gt;
    &lt;a на href=&quot;http://russianplex.sourceforge.net/&quot;&gt;SourceForge&lt;/a&gt;.
    Версия плагина @PLUGIN.REVISION@ (svn:@REPOSITORY.REVISION@).
    &lt;br&gt; &lt;br&gt;
    Если вы пользуетесь этим плагином и удовлетворены его качеством, ПОЖАЛУЙСТА,
    поддержите работу над русскими плагинами для Плекса своим пожертвованием:
    &lt;a href=&quot;https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=ALWBEGG7WPYH8&amp;lc=US&amp;item_name=RussianPlex&amp;currency_code=USD&amp;bn=PP-DonationsBF%3Abtn_donateCC_LG.gif%3ANonHosted&quot;&gt;страничка на PayPal&lt;/a&gt;.
  </string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>

  <!-- Logging configuration. REMOVE for Release. -->
  <key>PlexPluginConsoleLogging</key>
  <string>@PLUGIN.LOGKEY@</string> <!-- 0 - Off; 1 - On; -->
  <key>PlexPluginLogLevel</key>
  <string>@PLUGIN.LOGLEVEL@</string>  <!-- Critical, Error, Warning, Info, Debug. -->
</dict>
</plist>
